In [89]:
print("Hello World")

Hello World

In [90]:
import numpy as np
import pandas as pd

In [91]:
array = np.array([1,2,3,4,5,6,7,8,9,10])
arr_sum = np.sum(array)
print(f"Sum of array: {arr_sum}")

Sum of array: 55

In [92]:
d = np.array([1,2,3,4,5])
print("Numpy array:", d)
d1 = pd.Series(d)
print(f"Panda series: \n{d1}")

Numpy array: [1 2 3 4 5]
Panda series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [93]:
l = [1,2,3,4,5]
d = pd.Series(l)
print(f"Panda series:\n{d}")

Panda series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [94]:
dataset = pd.read_excel("./datasets/marks-dataset.xlsx")
dmSeries = pd.Series(dataset['DM'])
print(dmSeries.head())

0    24
1    16
2    20
3    18
4    20
Name: DM, dtype: object

In [95]:
dsDataframe = pd.DataFrame(dataset)
print(dsDataframe.head(10))

  Sr. no.  Roll No        Name of the Student  DM FDS OOP  CG DELD GENDER  \
0       1   SCOA01              ALISHA SHEIKH  24  27  20  15   16      M
1       2   SCOA02  SOHAM JAYYANNTH DESHMUKKH  16   9   9  AB   AB      F
2       3   SCOA03         SHELAR NEHA NILESH  20  23  16  15   15      M
3       4   SCOA04                RIYA JAWALE  18  14  11   8   15      F
4       5   SCOA05      NARHE VARSHA RAOSAHEB  20  24  16  24   20      M
5       6   SCOA06    BHUTDA MAHESH SHANTILAL  20   9  AB   0   AB      F
6       7   SCOA07       JAGTAP HARISH YUVRAJ  22  18   3  16    7      q
7       8   SCOA08  DESHPANDE SRUSHTI VINAYAK  24  20  19  16   23      F
8       9   SCOA09       DARWEY RUDRA GUNWANT  22  12   9  15    7      M
9      10   SCOA10         ERANDE TEJAS DIPAK  24  18  11  23   AB      F

   Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         NaN  ...          NaN          NaN          NaN          NaN
2         NaN  ...          NaN          NaN          NaN          NaN
3         NaN  ...          NaN          NaN          NaN          NaN
4         NaN  ...          NaN          NaN          NaN          NaN
5         NaN  ...          NaN          NaN          NaN          NaN
6         NaN  ...          NaN          NaN          NaN          NaN
7         NaN  ...          NaN          NaN          NaN          NaN
8         NaN  ...          NaN          NaN          NaN          NaN
9         NaN  ...          NaN          NaN          NaN          NaN

   Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 23
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN

[10 rows x 24 columns]

In [96]:
d2 = dataset.replace(to_replace=np.nan, value=0)
print(d2)

          Sr. no.                    Roll No        Name of the Student  DM  \
0               1                     SCOA01              ALISHA SHEIKH  24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH  16
2               3                     SCOA03         SHELAR NEHA NILESH  20
3               4                     SCOA04                RIYA JAWALE  18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB  20
..            ...                        ...                        ...  ..
77  Maximum marks                          0                          0  24
78              0                          0                          0   0
79              0                          0                          0   0
80              0                          0                          0   0
81              0  Internal Exam Coordinator                          0   0

   FDS OOP   CG DELD GENDER  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0   27  20   15   16      M         0.0  ...          0.0          0.0
1    9   9   AB   AB      F         0.0  ...          0.0          0.0
2   23  16   15   15      M         0.0  ...          0.0          0.0
3   14  11    8   15      F         0.0  ...          0.0          0.0
4   24  16   24   20      M         0.0  ...          0.0          0.0
..  ..  ..  ...  ...    ...         ...  ...          ...          ...
77  27  25   29   27      0         0.0  ...          0.0          0.0
78   0   0    0    0      0         0.0  ...          0.0          0.0
79   0   0    0    0      0         0.0  ...          0.0          0.0
80   0   0    0    0      0         0.0  ...          0.0          0.0
81   0   0  HOD    0      0         0.0  ...          0.0          0.0

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           0.0          0.0          0.0          0.0          0.0
1           0.0          0.0          0.0          0.0          0.0
2           0.0          0.0          0.0          0.0          0.0
3           0.0          0.0          0.0          0.0          0.0
4           0.0          0.0          0.0          0.0          0.0
..          ...          ...          ...          ...          ...
77          0.0          0.0          0.0          0.0          0.0
78          0.0          0.0          0.0          0.0          0.0
79          0.0          0.0          0.0          0.0          0.0
80          0.0          0.0          0.0          0.0          0.0
81          0.0          0.0          0.0          0.0          0.0

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           0.0          0.0            0
1           0.0          0.0            0
2           0.0          0.0            0
3           0.0          0.0            0
4           0.0          0.0            0
..          ...          ...          ...
77          0.0          0.0            0
78          0.0          0.0         321`
79          0.0          0.0            `
80          0.0          0.0            0
81          0.0          0.0            0

[82 rows x 24 columns]

In [97]:
dm2 = dmSeries.replace(to_replace=20, value=0)
print(dm2.head(20))

0     24
1     16
2      0
3     18
4      0
5      0
6     22
7     24
8     22
9     24
10    18
11     0
12    16
13    16
14    18
15     0
16    12
17    24
18    22
19     0
Name: DM, dtype: object

In [98]:
g1 = dataset['GENDER'].map({'M': 0, 'F': 1}).fillna(-1).astype(int)
print(g1.head(20))

0     0
1     1
2     0
3     1
4     0
5     1
6    -1
7     1
8     0
9     1
10    0
11    1
12    0
13    1
14    0
15    1
16    0
17    1
18    0
19    1
Name: GENDER, dtype: int64

In [109]:
dm6 = dmSeries.map({ 18: -2 }).fillna(-1).astype(int)
dm6len = len(dmSeries)
print(dm6.head(70))

0    -1
1    -1
2    -1
3    -2
4    -1
     ..
65   -1
66   -1
67   -1
68   -1
69   -1
Name: DM, Length: 70, dtype: int64